.byline {
    padding: 10px;
    background-color: var(--light);
}

.profile-picture {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    align-self: center;

    &__col {
        flex-grow: 0 !important;
        display: flex;
        padding-right: 0 !important;
    }
}