rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow update: if request.auth != null && userId == request.auth.uid;

      match /{document=**} {
        allow read, write: if request.auth != null && userId == request.auth.uid;
      }
    }
    match /articles/{articleId} {
      function isAuthor() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.author;
      }

      allow read: if true;
      allow create: if request.auth != null
        && request.auth.uid == request.resource.data.authorId
        && isAuthor() == true;

      allow update: if request.auth != null && request.auth.uid == resource.data.authorId;
    }
  }
}