blockquote {
    border-left: 2px solid #aaaaaa;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #767676;
    font-style: italic;
}

code {
    background-color: #eeeeee;
}