.label {
    position: absolute;
    right: -20px;
    top: -10px;
    font-weight: bold;
    color: white;
    padding: 5px;
    background-color: var(--info);
    font-family: sans-serif;
    border-radius: 0;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    user-select: none;

    &::after {
        content: '';
        position: absolute;
        bottom: -20px;
        right: 0;
        width: 10px;
        height: 10px;
        border-style: solid;
        border-width: 10px;
        border-color: var(--gray-dark) transparent transparent var(--gray-dark);
    }

    &:host {
        position: relative;
    }
}