@media all and (max-width: 1199px) {
    .w-lg-100 {
        width: 95vw !important;
    }
}

@media all and (max-width: 991px) {
    .w-md-100 {
        width: 95vw !important;
    }
}

@media all and (max-width: 767px) {
   .w-sm-100 {
        width: 95vw !important;
    }
}

@media all and (max-width: 575px) {
    .w-xs-100 {
        width: 95vw !important;
    }
}
