@import "../Article.scss";

$text-preview: 200px;

.highlight {
    max-height: $text-preview;
    overflow: hidden;
    position: relative;
}

.highlight-shadow {
    width: 95%;
    height: $text-preview;
    max-height: 200px;
    bottom: 0;
    position: absolute;
    background: linear-gradient(transparent, var(--light));
}

.view-more {
    font-family: revert;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
